.navbar-container {
  height: 60px; /* Réduire la hauteur */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  max-width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Réduire l'ombre */
  z-index: 100;
  position: relative;
}

.navbar-left {
  display: flex;
  flex: 1;
  padding-left: 5px;
  //width: 50%;
}

.navbar-right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.bouton-nav {
  cursor: pointer;
  width: auto; /* Ajuster la largeur */
  padding: 10px; /* Ajuster le padding */
  margin: 0 5px; /* Ajuster la marge */
  height: 100%;
  align-content: center;
  flex-wrap: wrap;
}

.bouton-nav:hover {
  background-color: rgb(172, 236, 255);
}

.select-bottom {
  background-color: rgb(172, 236, 255);
}

.fond {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url("../assets/images/fond3.jpg");
  background-attachment: fixed; /* Ajout de cette ligne */
  width: 100%;
  height: 100%;
}

.div-fond {
  color: white;
}

.apropos-fond {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 237, 254,0.75);
  
  padding: 1%;
  border-radius: 5px;
  padding-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
}

.flex-dir-img {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.apropos-fond2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 237, 254);
  margin-top: 5px;
  padding-top: 15px;
  border-radius: 5px;
  width: 100%;
}

.flex-direction-pp {
  display: flex;
  flex-direction: column;
}

.image {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Réduire l'ombre */
}

.image2 {
  display: flex;
  width: 100%;
  height: auto;
}

.image-pp {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.image-pp2 {
  display: flex;
  width: 70%;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.new {
  margin: auto;
}

.zone-texte {
  display: flex;
  flex-direction: column;
  margin-left: 2%;

  padding-left: 2%;
  padding-right: 2%;
}

.titre {
  font-size: 45px;
}

.sous-titre {
  font-size: 30px;
}

.mega-titre {
  font-size: 30px;
}

.texte {
  height: 60%;
}

.color-sous-titre {
  color: rgb(152, 152, 152);
}

.espace-div {
  margin-bottom: 20px;
}

.texte-propos1 {
  line-height: 1.5;
}

.texte-propos2 {
  line-height: 1.5;
}

.texte-propos3 {
  line-height: 1.5;
}

.ppp {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
}

.ppp1 {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.pppi {
  display: flex;
  width: 100%;
  align-items: center;
}

.pppi1 {
  flex: 1;
  margin: 0 2%;
  display: flex;
  justify-content: center;
  height: 300px;
}

.pppi1 img {
  display: flex;
  width: 100%;
  height: auto;
}

.btn-consultation {
  display: flex;
  background-color: #5d538a;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.btn-emplacement {
  display: flex;
  justify-content: center;
}
